.star-style{
    height:40px;
    width:40px;
    padding-right:15px;
}
.wrapper{
    display:flex;
    align-items: center;
    justify-content:center;
    overflow:hidden;
    height:100vh;
    flex-direction: column;
}
.star-value{
    font-weight:600;
    font-size:30px;
    margin-top:5px;
}